.wrapper{
    height:100%;
    margin:0 auto;
    background-color: darkgrey;
    box-sizing: border-box;
    width:80%;
}
header{
    height:100px;
}
html, body{
    height:100%;
}
body{
    background-color: lightblue;
}
